.drawer {
  width: 0rem;
  background: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: width 0.5s ease;
  overflow: hidden;
  height: max-content;
  height: 100%;
}

.drawer.open {
  width: 16rem;
}

.drawer form {
  margin: 1rem;
}

.drawer h3 {
  white-space: nowrap;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-weight: 600;
}

.form-control input,
.form-control select {
  padding: 0.25rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.25rem;
}

.form-control input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-right: auto;
  background: red;
}

.form-control input:focus {
  outline: 0;
}

.form-actions {
  display: flex;
  margin-top: 2rem;
}

.form-actions button {
  height: 2rem;
  width: 5rem;
  border-radius: 0.2rem;
}

.form-actions button:first-child {
  margin-left: auto;
  background: none;
  border: 1px solid rgb(220, 220, 220);
}

.form-actions button:nth-child(2) {
  margin-left: 0.5rem;
  border: none;
  background: #1890ff;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .drawer {
    max-height: 0;
    width: calc(100% - 2rem);
    margin: 1rem;
    transition: max-height 0.5s ease;
    border-radius: 0.5rem;
  }

  .drawer.open {
    max-height: 23rem;
    width: calc(100% - 2rem) !important;
  }

  .drawer form {
    height: auto;
  }

  .form-control {
    display: inline-block;
    margin: 0.5rem;
  }

  .form-control input[type="checkbox"] {
    height: 0.75rem;
    width: 0.75rem;
    margin-right: auto;
    background: red;
  }
}

@media screen and (max-width: 768px) {
  .form-actions button {
    height: 1.2rem;
    width: 2.5rem;
    border-radius: 0.2rem;
  }

  .form-control input[type="color"] {
    height: 1.2rem;
    width: 1.2rem;
    padding: 0rem;
  }
}
