.employee-list {
  position: absolute;
  left: 11rem;
  top: 0;
  width: calc(100vw - 11rem);
}

.employee-list-header {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.header-right span {
  display: none;
}

.employee-list-filters {
  display: flex;
  align-items: center;
  height: 4rem;
  position: relative;
  padding: 0.5rem 0rem;
  margin: 0 1rem;
}

.employee-list-filters span {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(99, 99, 99);
  font-size: 0.9rem;
}

.employee-list-filters input {
  width: 18rem;
  padding: 0.75rem;
  padding-left: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: rgb(99, 99, 99);
}

.employee-list-filters input:focus {
  outline: none;
}

.employee-list-body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 4rem);
  top: 4rem;
  overflow: scroll;
}

.employee-list-content {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.employee-list-body::-webkit-scrollbar {
  display: none;
}

.add-employee-btn {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  background: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: #1890ff;
  border: 1px solid #1890ff;
  cursor: pointer;
}

.add-employee-btn:hover {
  background: #eef7ff;
}

.add-employee-btn span {
  display: block;
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .employee-list {
    width: calc(100vw - 9rem);
    left: 9rem;
  }

  .employee-list-content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .employee-list {
    width: 100vw;
    left: 0;
  }

  .employee-list-content {
    display: flex;
    flex-direction: column;
  }

  .header-right span {
    display: block;
  }

  .add-employee-btn {
    padding: 0.25rem;
  }

  .add-employee-btn span {
    display: none;
  }

  .employee-list-filters,
  .employee-list-header {
    height: 2.5rem;
  }

  .employee-list-body {
    top: 2.5rem;
    height: calc(100vh - 2.5rem);
  }

  .employee-list-filters span {
    font-size: 0.6rem;
  }

  .employee-list-filters input {
    display: flex;
    padding: 0.5rem;
    padding-left: 2rem;
  }
}
