.App {
  display: grid;
  grid-template-columns: 20rem 1fr;
  height: 100vh;
  width: 100%;
  background: rgb(247, 249, 255);
}

@media screen and (max-width: 1200px) {
  .App {
    grid-template-columns: max-content 1fr;
  }
}
